
.selectIcon {
    fill: #637381 !important;
    color: #212b36 !important;
    border-color: rgb(214, 38, 59) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 1px #c45c5c !important;
}


/* second design */
.eosh_second .eosh_cart-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.eosh_second .eosh_quantity {
    border: 1px solid;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.eosh_second .eosh_down,
.eosh_second .eosh_up,
.eosh_second .eosh_number {
    padding: 5px 10px;
}

.eosh_second .eosh_cart-btn {
    background: #000;
    color: #fff;
    width: 50%;
    padding: 10px;
    box-shadow: none;
    border: 0;
    border-radius: 10px;
    z-index: 999;
}

/* third design */
.eosh_third .eosh_cart-quantity {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
}

.eosh_third .eosh_quantity {
    border: 1px solid;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 34%;
    height: 45px;
}

.eosh_third .eosh_down,
.eosh_third .eosh_up,
.eosh_third .eosh_number {
    padding: 0px 6px;
}
.eosh_third .eosh_cart-btn {
    background: #000;
    color: #fff;
    width: 100%;
    padding: 15px;
    box-shadow: none;
    border: 0;
}

.eosh_third .eosh_up{
cursor: pointer;
font-size: 20px;
line-height: 28px;
font-family: inherit;
color: #484F57;
display: flex;
align-items: center;
justify-content: center;
outline: none;
background-color: transparent;
border: 1px solid transparent;
width: 30px;
height: 45px;
}

.eosh_third .eosh_down{
cursor: pointer;
font-size: 20px;
line-height: 28px;
font-family: inherit;
color: #484F57;
display: flex;
align-items: center;
justify-content: center;
outline: none;
background-color: transparent;
border: 1px solid transparent;
width: 30px;
height: 45px;
}

.eosh_third .num {
    width: 50px;
    border: none;
    text-align: center;
}

.eosh_quantity{
    box-shadow: 0px 0px 10px 0px rgb(0 0 0/10%);
    border: 0 !important;
}


/* .eosh_third .eosh_cart-btn {
    background: #000;
    color: #fff;
    width: 80%;
    padding: 35px;
    box-shadow: none;
    border: 0;
} */





/* fourth design */
.eosh_fourth .eosh_cart-quantity {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.eosh_fourth .eosh_quantity {
    border: 1px solid;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 25px;
    z-index: 999;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0/10%);
    padding: 0;
}

.eosh_fourth .eosh_down,
.eosh_fourth .eosh_up,
.eosh_fourth .eosh_number {
    padding: 2px 10px;
}

.eosh_fourth .eosh_down {
    border-right: 1px solid;
    background: #069ce2;
    border-radius: 25px 0 0 25px;
    height: 32px;
}

.eosh_fourth .eosh_up {
    border-left: 1px solid;
    background-color: #e7f0f4;
    border-radius: 0 25px 25px 0;
    height: 32px;
}

.eosh_fourth .eosh_cart-btn {
    background: #000;
    color: #fff;
    padding: 10px;
    box-shadow: none;
    border: 0;
    border-radius: 10px;
}

/* fifth design */
.eosh_fifth .eosh_cart-quantity {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.eosh_fifth .eosh_quantity {
    border: 1px solid;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
    z-index: 999;
    margin-top: 5px;
}

.eosh_fifth .eosh_down,
.eosh_fifth .eosh_up,
.eosh_fifth .eosh_number {
    padding: 5px 10px;
}

.eosh_fifth .eosh_cart-btn {
    background: #000;
    width: 30px;
    height: 30px;
    border: 0;
    display: flex;
    align-items: center;
    z-index: 999;
}


/* sixth design */
.eosh_sixth .eosh_price-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.eosh_sixth .eosh_quantity {
    border: 1px solid;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    z-index: 999;
}


.eosh_sixth .eosh_down,
.eosh_sixth .eosh_up,
.eosh_sixth .eosh_number {
    padding: 5px 10px;
}

.eosh_sixth .eosh_cart-btn {
    background: #000;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 5%;
    right: 5%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: 0;
    z-index: 999;
}


/* eight design */
.eosh_eight .eosh_price-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eosh_eight .eosh_quantity {
    border: 1px solid;
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-top: 20px;
    z-index: 999;
}

.eosh_eight .eosh_down,
.eosh_eight .eosh_up,
.eosh_eight .eosh_number {
    padding: 5px 10px;
}

.eosh_eight .eosh_cart-btn {
    background: #fff;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10%;
    right: 5%;
    display: flex;
    align-items: center;
    border: 0;
    z-index: 999
}
.pointer {cursor: pointer;}


/* ninth design */
.eosh_ninth .eosh_price-quantity {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    margin-top: 20px;
}

.eosh_ninth .eosh_quantity {
    border: 1px solid;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.eosh_quantity-cart {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.eosh_ninth .eosh_down,
.eosh_ninth .eosh_up,
.eosh_ninth .eosh_number {
    padding: 5px 10px;
}

.eosh_ninth .eosh_cart-btn {
    background: #000;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    border: 0;
    border-radius: 5px;
}




/* tenth design */
.eosh_tenth .eosh_cart-quantity {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.eosh_tenth .eosh_quantity {
    border: 1px solid;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
    border-radius: 5px;
    z-index: 999;
    margin-top: 20px;
}

.eosh_tenth .eosh_down,
.eosh_tenth .eosh_up,
.eosh_tenth .eosh_number {
    padding: 5px 10px;
}

.eosh_tenth .eosh_cart-btn {
    background: transparent;
    width: 40px;
    height: 30px;
    border: 1px solid;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
    z-index: 999;
}



.custom_qty_inner .qty_block{display: flex; align-items: center; position: relative; padding:10px 10px; box-sizing: border-box;}
.qty_block .qty_field{font-size: 20px; line-height: 28px; font-family: inherit; color: #484F57; text-align: center; border:1px solid transparent; width:75px;}
.qty_block .qty_field:focus{outline: none;}


@media screen and (max-width: 767px) {
    .eosh_third .eosh_cart-quantity,
    .eosh_fourth .eosh_cart-quantity,
    .eosh_tenth .eosh_cart-quantity,
    .eosh_quantity-cart {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .eosh_fourth .eosh_cart-btn {
        width: auto;
    }

    .eosh_third .eosh_down, .eosh_third .eosh_up {
        width: 60px;
    }

    .eosh_third .num {
        width: 100px;
    }

    .eosh_third .eosh_cart-btn {
        width: auto;
    }

    /* .eosh-dropdown1 {
        width: 65% !important;
    } */
}