
            
        /* The Modal (background)  */
        .modal {    
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        /* / Modal Content/Box / */
        .modal-content {
            background-color: #fefefe;
            padding: 20px;
            border: 1px solid #888;
            width: 40%;
            /* margin: auto; */
            text-align: center;
        }
        
        /* / The Close Button / */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        
        .popup-overlay {
            visibility: hidden;
        }
        
        .popup-content {
            visibility: hidden;
        } 
        
        
        @media (max-width: 320px) {
            body {
                display: none;
            }
        }
        
        .user_guide img {
            width: auto;
        }
        
        iframe {
            width: 100%;
            height: 400px;
        }
        
        @media (max-width: 480px) {
        
            .add_rule_img {
                width: 100%;
            }
        
            .top_btn {
                display: grid;
                grid-template-columns: auto;
                gap: 10px;
                text-align: center;
            }
        
            iframe {
                width: 100%;
                height: auto;
            }
        
            img {
                width: auto;
            }
        
            .preview_img {
                padding: 0 !important;
            }
        
            .form_container3 {
                padding: 20px;
            }
        
            .form_container3 .form_block3 .form_inner3 {
                padding: 40px 30px;
            }
        
            .form_block3 .form_inner3 .form_inner_most3 .avt_block3 .avt3 {
                width: auto;
            }
        
            .form_block3 .form_title {
                color: #f2f2f2;
                text-align: center
            }
        
            [class^="icon-"]::after, [class*=" icon-"]::after {
                background-size: 25px 15px;
            }
        
            .user_guide img {
                width: 100%;
            }
        }
        
        @media (min-width: 481px) and (max-width: 767px) {
        
            .add_rule_img {
                width: 100%;
            }
        
            img {
                width: auto;
            }
        
            iframe {
                width: 100%;
                height: auto;
            }
        
            .form_container3 {
                padding: 20px;
            }
        
            .form_container3 .form_block3 .form_inner3 {
                padding: 40px 30px;
            }
        
            .form_block3 .form_inner3 .form_inner_most3 .avt_block3 .avt3 {
                width: auto;
            }
        
            .form_block3 .form_title {
                color: #f2f2f2;
                text-align: center
            }
        
        
            [class^="icon-"]::after, [class*=" icon-"]::after {
                background-size: 25px 15px;
            }
        
            .user_guide img {
                width: 100%;
            }
        }
        
        
        @media (min-width: 768px) and (max-width: 1199px) {
            .add_rule_img {
                width: 100%;
            }
        
            img {
                width: auto;
            }
        
            .form_container3 {
                padding: 20px;
            }
        
            .form_container3 .form_block3 .form_inner3 {
                padding: 40px 30px;
            }
        
            .form_block3 .form_inner3 .form_inner_most3 .avt_block3 .avt3 {
                width: auto;
            }
        
            .form_block3 .form_title {
                color: #f2f2f2;
                text-align: center
            }
        
        
            [class^="icon-"]::after, [class*=" icon-"]::after {
                background-size: 25px 15px;
            }
        }
        
        
        .plan-text {
            text-align: center;
            margin-bottom: 15px;
            color: #000000;
            display: flex;
            justify-content: center;
        }
        .plan-btn, .plan-list {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
        .monthly-plan, .annual-plan {
            margin: 20px;
        }
        
        .plans {
            margin: 5px 0;
            font-size: 16px
        }
        
    
        
        
        .add_rule_img {
            height: 300px;
            width: 300px;
        }
        
        img {
            width: auto
        }
        
        iframe {
            width: 100%;
            height: 600px;
        }
        
        .block_5_img {
            height:530px; 
            width:410px;
        }
        
        @media (max-width: 899px) {
        .top_btn {
            display: grid;
            grid-template-columns: auto;
            gap: 10px;
            text-align: center;
        }
        
        .save_btn {
            justify-content: flex-end;
            display: flex;
            padding-right: 20px;
        }
        
        .add_rule_img {
            height: auto;
            width: 100%;
        }
        
        .preview_img {
            padding: 0rem !important;
        }
        
        [class^="icon-"]::after, [class*=" icon-"]::after {
            background-size: 15px 20px;
        }
        
        img {
            width: 100%
        }
        
        iframe {
            width: 100%;
            height: 100%;
        }
        
        .form_container3 .form_block3 .form_inner3,
        .form_container4 .form_block4 .form_inner4 {
            padding: 40px 25px;
            text-align: center;
            width: auto;
            min-height: auto;
        }
        
        .form_block3 .form_inner3  .form_inner_most3 .avt_block3 .avt3,
        .form_block3 .form_inner3  .form_inner_most3 .avt_block3 img {
            max-width: 50%;
            top: 40%;
        }
        
        .form_block3 .form_title {
            padding: 15px 0px;
            color: #fff;
        }
        
        
        .block_5_img {
            height:auto; 
            width:auto;
        }
        }
        
        @keyframes glowing {
            0% { box-shadow: 0 0 -10px #272d4f; }
            40% { box-shadow: 0 0 20px #272d4f; }
            60% { box-shadow: 0 0 20px #272d4f; }
            100% { box-shadow: 0 0 -10px #272d4f; }
            }
        
            .button-glow {
            animation: glowing 2000ms infinite;
            }
        
        
            
        
            /* UPsell */
        
            img {
            max-width: 100%;
            }
            
            .card_box .head .eosh-tryApp {
            background: #5E8E3E;
            border: none;
            line-height: 24px;
            box-shadow: none;
            }
            
            
            .card_box .head .eosh-tryApp:hover {
            background: #40612a;
            }
            
            .head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            min-width: 250px;
            }
            
            .heading {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            margin: 0;
            }
            
            .img_box {
            background: #EAEFE8;
            display: flex;
            justify-content: center;
            padding: 20px;
            box-sizing: border-box;
            }
            
            .description {
            padding: 20px 45px;
            margin: 0;
            }
            
            .full-width .current_plan {    
            background-color: #5E8E3E;
            box-shadow: 0.5px 0.5px 20px 0.5px #00000017;
            border-radius: 4px;
            color: #ffffff;
            font-size: 20px;
            margin: 0px;
            }
            
            .cart_customizer_star {
            display: flex;
            align-items: center;
            gap: 10px;
            }
            
            .cart_customizer_star .eosh_star {
            background-color: #5E8E3E;
            padding: 5px 10px;
            color: #ffffff;
            }
            
            @media (min-width: 250px) and (max-width: 767px) {
            .footer_product_card article {
                flex-direction: column ;
            }
            
            .footer_product_card .card_box {
                width: auto;
                margin: 0;
                margin-bottom: 20px;
                }
            
            .full-width .current_plan {
                text-align: center;
            }
            
            
            .description {
                padding: 10px 30px;
            }
            }
            
            @media screen and (min-width: 768px) and (max-width: 1024px) {
            .footer_product_card article {
                flex-direction: column ;
            }
            
                .footer_product_card .card_box {
                width: auto;
                margin: 0;
                margin-bottom: 20px;
            }
            }
            
            @media (max-width: 250px) {
            body {
                display: none
            }
            }
        
        
            .new_app {
            text-transform: uppercase;
            background: linear-gradient(to right, #212529 10%, #588c44 45%, #588c44 67%, #588c44 100%);
            background-size: 200% auto;
            color: #fff;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: textclip 2s linear infinite;
            display: inline-block;
            font-size: 22px;
            padding: 5px 0px;
        }
        