img {
    max-width: 100%;
}

.card_box .head .eosh-tryApp {
    background: #5E8E3E;
    border: none;
    line-height: 24px;
    box-shadow: none;
}


.card_box .head .eosh-tryApp:hover {
    background: #40612a;
}

.head {
    display: flex;
    /*align-items: center;*/
    align-items: start;
    justify-content: space-between;
    /*padding: 20px;*/
    padding: 20px 0px;
    min-width: 250px;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 0;
}

.img_box {
    background: #EAEFE8;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.description {
    padding: 20px 45px;
    margin: 0;
}

.full-width .current_plan {
    background-color: #5E8E3E;
    box-shadow: 0.5px 0.5px 20px 0.5px #00000017;
    border-radius: 4px;
    color: #ffffff;
    font-size: 20px;
    /*margin: 0px;*/
    margin: 0 2rem;
}

.cart_customizer_star {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart_customizer_star .eosh_star {
    background-color: #5E8E3E;
    padding: 5px 10px;
    color: #ffffff;
}


.new_app {
    text-transform: uppercase;
    background: linear-gradient(to right, #212529 10%, #588c44 45%, #588c44 67%, #588c44 100%);
    background-size: 200% auto;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 22px;
    padding: 5px 0px;
}

@media (min-width: 250px) and (max-width: 767px) {
    .footer_product_card article {
        flex-direction: column ;
    }

    .footer_product_card .card_box {
        width: auto;
        margin: 0;
        margin-bottom: 20px;
    }

    .full-width .current_plan {
        text-align: center;
        margin: auto;
    }


    .description {
        padding: 10px 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer_product_card article {
        flex-direction: column ;
    }

    .footer_product_card .card_box {
        width: auto;
        margin: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 250px) {
    body {
        display: none
    }
}
