.main-popup {
    display: block;
}

.popup-btn {
    position: fixed;
    z-index: 111;
    bottom: 20px;
    right: 60px;
}


.chatbot__button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #4d4d4d 0%, #1a1a1a 100%);
    box-shadow: none;
    color: #f3f7f8;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    z-index: 999999999;
    position: relative;
    animation: shake 5s infinite;
    animation-timing-function: linear;
}

.chatbot__button:hover {
    animation-name: shakeAnim;
    background: #1E527C;
}

.chatbot__button:hover .message-count {
    background-color: #116dd7;
}

.chatbot__button:focus {
    box-shadow: none;
}


@keyframes shakeAnim {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}
}

@keyframes shake {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}
}

.chatbot__button span {
    position: absolute;
    transition: all 0.6s ease;
}

.chatbot__button span img {
    width: 20px;
    height: 20px;
}

.chatbot__button span.cross-btn {
    opacity: 0;
    transform: scale(1) rotate(0deg);
}

.show-chatbot .chatbot__button span.cross-btn {
    opacity: 1;
}

.show-chatbot .chatbot__button span.whatsapp-btn {
    opacity: 0;
    transform: scale(0) rotate(1turn);
}


.chatbot {
    border-radius: 15px;
    bottom: 102px;
    box-shadow: 0 10px 10px 4px rgba(0, 0, 0, 0.04);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    bottom: 100px;
    right: 60px;
    transform: translateY(50px);
    transition: all 0.4s ease;
    visibility: hidden;
    width: 280px;
    will-change: transform, visibility, opacity;
    z-index: 999999998;
    background-color: #ffffff;
}

.show-chatbot .chatbot {
    opacity: 1;
    -ms-transform: translate(0);
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    visibility: visible;
}

.chatbot__header {
    position: relative;
    background: linear-gradient(to bottom, #4d4d4d 0%, #1a1a1a 100%);
    padding: 20px;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    text-align: left;
}

.chatbox__title {
    font-size: 2rem;
    padding-bottom: 5px;
    margin: 0;
    font-weight: 600;
    box-sizing: border-box;
}

.header-content p {
    margin: 0;
    color: #fff;
    font-weight: 600;
}

.header-message p {
    margin: 0;
    color: #fff;
    text-align: left;
}

p {
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.0025em;
}

.chatbot__box {
    max-height: 330px;
    padding: 0px;
    margin: 0;
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    margin-bottom: 35px;
    box-sizing: border-box;
}

.card_item {
    width: 100%;
    text-decoration: none;
    list-style: none;
    position: relative;
    border-radius: 2px 4px 2px 4px;
}

.card_link, .card_mail, .card_skype {
    text-decoration: none;
    padding: 15px;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #f5f5f5;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    box-shadow: none;
    box-sizing: border-box;
}

.card_mail {
    border-bottom: 0;
}

.card_link:hover, .card_link:focus-visible, .card_link:focus {
    background: transparent;
    box-shadow: none;
    outline: 0;
    border-color: #f5f5f5;
}

.type_message:focus {
    box-shadow: none;
    border-color: #f5f5f5;
}

.message-count {
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: -10px;
    border: 0;
    font-size: 12px;
    font-weight: 600;
}

.popup_avatar_image {
    height: auto;
    width: 40px;
    display: block;
}

.popup_txt {
    display: table-cell;
    text-align: left;
}

.popup_name {
    color: #363c47;
    font-size: 14px;
    line-height: 1.188em !important;
    height: 20px;
    letter-spacing: 0.06rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.popup_duty {
    color: #989b9f;
    font-size: 12px;
    line-height: 1.125em !important;
    padding: 2px 0 0;
    text-align: left;
    box-sizing: border-box;
}


/* Whatsapp Screen */
.inner-header {
    position: relative;
    background: #116dd7;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.inner-header button {
    background: transparent;
    border: 0;
    cursor: pointer;
    box-shadow: none;
    padding: 0;
    min-width: 10px;
    min-height: 10px;
    box-sizing: border-box;
}

.inner-header button:hover {
    background: transparent;
}

.inner-header svg {
    width: 15px;
    height: 15px;
    fill: #fff;
}

.inner-header-image {
    width: 35px;
    height: 35px;
}

.inner-header .popup_name {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.inner-header .popup_duty {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}

.customer-msg {
    width: fit-content;
    margin-left: auto;
    text-align: right;
}

.support-msg {
    width: fit-content;
    margin-right: auto;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}

.support-msg .message {
    background: #f5f5f5;
    padding: 15px;
    margin: 0;
    border-radius: 15px 10px 10px 0px;
    box-sizing: border-box;
    color: #000000;
    border: 1px solid #ef443f;
    box-sizing: border-box;
}

.text-area {
    position: relative;
}

.type_message {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: inherit;
    font-size: 15px;
    font-weight: 400;
    white-space: pre-wrap;
    word-break: break-word;
    line-height: 1.33;
    min-height: inherit;
    box-sizing: border-box;
    background-color: transparent;
    border: 0;
    border-top: 1px solid #ef443f;
    resize: none;
    border-radius: 0;
}

.text-area a{
    position: absolute;
    z-index: 1111;
    right: 20px;
    top: 5px;
    bottom: 0;
    width: 30px;
    height: 30px;
}

.text-area a svg,
.text-area a path {
    position: absolute;
    top: 6px;
    left: 10px;
    fill: #ef443f;
    width: 30px;
    height: 30px;
}

.text-area a:hover {
    background: #ef443f;
    border-radius: 15px;
}

.text-area a:hover svg,
.text-area a:hover path{
    fill: #fff;
}

.type_message:focus-visible {
    outline: none;
}

.footer {
    text-align: right;
    padding: 40px 20px 3px;
    color: #77A833;
    background: linear-gradient(to bottom, #4d4d4d 0%, #1a1a1a 100%);
    border-radius: 0 0 15px 15px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-height: 65px;
    z-index: -1;
    box-sizing: border-box;
}

.footer p {
    margin-bottom: 0;
    font-size: 12px;
    color: #ffffff;
}
.footer a {
    font-weight: 700;
    color: #ffffff;
}

.footer a:hover {
    color: #f5f5f5;
}

@media (max-width: 300px) {
    body {
        display: none;
    }
}