.sold_out_btn{
    background-color: #faf1f0;
    margin-top: 10px;
    width: 100%;
    border: 0;
    border-radius: 20px;
    padding: 10px;
    display: block;
    text-align: center;
    color: #ed5648;
    cursor: pointer;
}


     /* for quanity button css */
.eosh-hiddenDropDown {
    position: relative;
    z-index: 1;
    overflow-wrap: break-word;
    white-space: normal;
    text-decoration: none; 
    line-height: 1.2;
    letter-spacing: 0px;
    width: 100%; height: 40px; 
    font-weight: normal; 
    font-style: normal;
    font-family: "Lato";
    font-size: 14px;
    color: rgb(51, 51, 51);
    background-color: transparent; 
    border-width: 1px; 
    border-color: rgb(51, 51, 51);
    border-radius: 0px; border-style: solid;
     margin: 5px 0px 0px;
    padding: 0px 10px;
    cursor: pointer;
    background-image: linear-gradient(45deg, transparent 50%, rgb(51, 51, 51) 50%), linear-gradient(135deg, rgb(51, 51, 51) 50%, transparent 50%); 
    background-position: calc(100% - 14px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px); background-size: 4px 4px;
    background-repeat: no-repeat;
    appearance: none;
    text-indent: 1px;
}
.labeldropdown{
    margin: 5px 0px 0px; 
    font-size: 20px;
     color: rgb(160, 116, 116); 
     font-weight: normal;
      font-style: italic; 
      font-family: arial, Helvetica;
}

.labeldropdown{
    margin: 5px 0px 0px; 
    font-size: 20px;
     color: rgb(160, 116, 116); 
     font-weight: normal;
      font-style: italic; 
      font-family: arial, Helvetica;
}

.eosh-dropdown1{
    position: relative;
    z-index: 1;
    overflow-wrap: break-word;
    white-space: normal; 
    text-decoration: none;
    line-height: 1.2;
    letter-spacing: 0px;
    width: 100%;
    height: 40px;
    font-weight: normal; 
    font-style: normal; 
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 14px; 
    color: rgb(51, 51, 51);
    background-color: transparent; border-width: 1px; 
    border-color: rgb(51, 51, 51); border-radius: 0px; 
    border-style: solid;
    margin: 5px 0px 0px;
    padding: 0px 10px;
    cursor: pointer;
    background-image: linear-gradient(45deg, transparent 50%, rgb(51, 51, 51) 50%), linear-gradient(135deg, rgb(51, 51, 51) 50%, transparent 50%); background-position: calc(100% - 14px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px);
     background-size: 4px 4px; background-repeat: no-repeat; 
     appearance: none; text-indent: 1px;
}

.labeldropdown2{
    margin: 5px 0px 0px; 
    font-size: 20px; 
    color: rgb(160, 116, 116);
     font-weight: normal; 
     font-style: italic;
      font-family: Arial, Helvetica, sans-serif;
}

.eosh-dropdown2{
    position: relative;
    z-index: 1; overflow-wrap: break-word;
    white-space: normal;
    text-decoration: none; 
    line-height: 1.2;
    letter-spacing: 0px; 
    width: 100%;
    height: 40px;
    font-weight: normal; 
    font-style: normal; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    color: rgb(51, 51, 51);
    background-color: transparent;
    border-width: 1px; 
    border-color: rgb(51, 51, 51); border-radius: 0px; 
    border-style: solid;
    margin: 5px 0px 0px;
    padding: 0px 10px;
    cursor: pointer; 
    background-image: linear-gradient(45deg, transparent 50%, rgb(51, 51, 51) 50%), linear-gradient(135deg, rgb(51, 51, 51) 50%, transparent 50%);
    background-position: calc(100% - 14px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px);
    background-size: 4px 4px; background-repeat: no-repeat; 
    appearance: none;
    text-indent: 1px;
}

.labeldropdown3{
    margin: 5px 0px 0px; 
    font-size: 20px;
    color: rgb(160, 116, 116);
    font-weight: normal; 
    font-style: italic;
     font-family:Helvetica  Arial, Helvetica, sans-serif
}

.eosh-dropdown3{
    position: relative;
    z-index: 1; 
    overflow-wrap: break-word; 
    white-space: normal;
    text-decoration: none;
    line-height: 1.2;
    letter-spacing: 0px; width: 100%; height: 40px; font-weight: normal;
    font-style: normal;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(51, 51, 51);
    background-color: transparent; 
    border-width: 1px; 
    border-color: rgb(51, 51, 51);
    border-radius: 0px;
    border-style: solid;
    margin: 5px 0px 0px; 
    padding: 0px 10px;
    cursor: pointer;
    background-image: linear-gradient(45deg, transparent 50%, rgb(51, 51, 51) 50%), linear-gradient(135deg, rgb(51, 51, 51) 50%, transparent 50%); background-position: calc(100% - 14px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px); 
    background-size: 4px 4px; 
    background-repeat: no-repeat; 
    appearance: none;
    text-indent: 1px;
}

      /* for hover button css */
  .card{
      width: 230px;
      height: 300px;
      background-color: white;
      transition: all .3s ease-in-out;
  }

  .card .add-to-cart-overlay{
        background-color: rgba(48, 48, 48, 0.25);
      width: 100%;
      height: 100%;
      display: none;
          justify-content: center;
      align-items: center;
  }

  .card:hover .add-to-cart-overlay{
    display: flex;
  }

  .card .add-to-cart-overlay .add-to-cart-hover-btn{
        display: none;
        cursor: pointer;
        background-color: #334FB4;
        padding: 10px 16px;
        border: 0;
        font-size: 13px;
        color: #fff;
        outline-style: none;
        border-radius: 20px;
    align-items: center;
    gap: 10px;
  }

  .card:hover .add-to-cart-overlay .add-to-cart-hover-btn{
    display: flex;
  }

 /* Style 1 */
 .style1 {
  background: #fff;
  box-shadow: 0px 0px 5px lightgray;
  border-radius: 20px;
  padding: 5px 10px;
  max-width: 160px;
}

.cart-button-style1 {
  padding: 0;
  background: transparent;
  border: 0;
  box-shadow: none;
}
.button-color{
  border-radius: 20px;
  padding: 10px 22px;
}

 .style1 .plus {
background: #03a9f4;
color: white;
}

.style1 .minus {
background: transparent;
border: 1px solid lightgray;
}


       
/* add to caer button 2 */

/* From Uiverse.io by doniaskima */ 
.btn-23,
.btn-23 *,
.btn-23 :after,
.btn-23 :before,
.btn-23:after,
.btn-23:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-23 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  /* background-color: #000; */
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-23:disabled {
  cursor: default;
}

.btn-23:-moz-focusring {
  outline: auto;
}

.btn-23 svg {
  display: block;
  vertical-align: middle;
}

.btn-23 [hidden] {
  display: none;
}

.btn-23 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 10px;
  position: relative;
}

.btn-23 span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}

.btn-23 .marquee {
  --spacing: 5em;
  --start: 0em;
  --end: 5em;
  -webkit-animation: marquee 1s linear infinite;
  animation: marquee 1s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  position: relative;
  text-shadow: #fff var(--spacing) 0, #fff calc(var(--spacing) * -1) 0,
    #fff calc(var(--spacing) * -2) 0;
}

.btn-23:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

.btn-23:hover .text {
  opacity: 0;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

  /* add to cart 3  */

  /* From Uiverse.io by mrhyddenn */ 
.btn3 {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.btn3::before,
.btn3::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.btn3::before {
  top: 0;
  border-bottom-width: 0;
}

.btn3::after {
  bottom: 0;
  border-top-width: 0;
}

.btn3:active,
.btn3:focus {
  outline: none;
}

.btn3:active::before,
.btn3:active::after {
  right: 3px;
  left: 3px;
}

.btn3:active::before {
  top: 3px;
}

.btn3:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all .2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #ff4655;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
}

.btn3:hover {
  color: #0f1923;
}

.btn3:hover .button_sl {
  width: calc(100% + 15px);
}

.btn3:hover .button_lg::after {
  background-color: #fff;
}


  /* add to cart 4 */

  /* From Uiverse.io by adamgiebl */ 
  .cssbuttons-io-button {
    background: #a370f0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }

  

/*  button 5 */

/* From Uiverse.io by andrew-demchenk0 */ 
.button555 {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* border: 1px solid #34974d !important; */
  /* background-color: #3aa856 !important; */
}

.button555, .button__icon, .button__text {
  transition: all 0.3s;
}

.button555 .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.button555 .button__icon {
  position: absolute;
  transform: translateX(110px);
  height: 100%;
  top: 0;
  width: 39px;
  /* background-color: #34974d; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.button555 svg {
  width: 30px;
  stroke: #fff;
}

.button555:hover {
  background: #34974d;
}

.button555:hover .button__text {
  color: transparent;
}

.button555:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button555:active .button__icon {
  background-color: #2e8644;
}

.button555:active {
  border: 1px solid #2e8644;
}
