
.custom-dropdown .counter {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin-bottom: 10px;
}

.custom-dropdown .style1 {
    background: #fff;
    box-shadow: 0px 0px 5px lightgray;
    border-radius: 20px;
    padding: 5px 10px;
}

.custom-dropdown .btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: #eee;
    color: #333;
}

.custom-dropdown .style1 .plus {
    background: #03a9f4;
    color: white;
}

.custom-dropdown .style1 .minus {
    background: transparent;
    border: 1px solid lightgray;
}

.custom-dropdown .count {
    min-width: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.custom-dropdown .style2 {
    background: #fdfdfd;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.custom-dropdown .style2 .plus {
    background: #03a9f4;
    color: white;
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.custom-dropdown .style2 .minus {
    background: #E7F0F4;
    border-radius: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.custom-dropdown .style3 .custom-input {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    width: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.custom-dropdown .style3 .value {
    flex: 1;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.custom-dropdown .style3 .arrows {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.custom-dropdown .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    margin-left: 10px;
}

.custom-dropdown .style3 .arrow {
    width: 35px;
    height: 24px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: white;
}

.custom-dropdown .style3 .arrow.up {
    background-color: #03a9f4;
}

.custom-dropdown .style3 .arrow.down {
    background-color: #9e9e9e;
}


.custom-dropdown .style4 {
    background: #fff;
    box-shadow: 0px 0px 5px lightgray;
    border-radius: 20px;
    padding: 5px 10px;
}

.custom-dropdown .style4 .btn {
    border-radius: 5px;
    padding: 0 10px;
    font-size: 18px;
    background-color: transparent;
    color: #03a9f4;
}


.custom-dropdown .style5 {
    background: #fff;
    box-shadow: 0px 0px 5px lightgray;
    border-radius: 0;
    padding: 5px 10px;
}

.custom-dropdown .style5 .plus {
    background-color: #03a9f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-dropdown .style5 .minus {
    background: #f1f1f1;
}


.custom-dropdown .style6 {
    background: #fff;
    box-shadow: 0px 0px 5px lightgray;
    border-radius: 20px;
    padding: 5px 10px;
}

.custom-dropdown .style6 .plus, .custom-dropdown .style6 .minus {
    background: transparent;
    color: #333;
    border: 1px solid lightgray;
}